@use "./variables" as *;

// Home Header
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

// Shop Page Header 
#pageHeader {
    background-image: url(../assets/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    h2, p {
        color: $white;
    }
}

// Blog Page Header 
.blogHeader {
    background-image: url(../assets/banner/b19.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    h2, p {
        color: $white;
    }
}

// About Page Header
.aboutHeader,
.contactHeader, 
.cartHeader {
    background-image: url(../assets/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    h2, p {
        color: $white;
    }
}




   



