@use "./variables" as *;

// Single Product Details
.productDetails {
    padding: 40px 80px;
    display: flex;
    margin-top: 20px;
    .singleProductImage {
        width: 40%;
        margin-right: 50px;
    }
    .singleProductDetails {
        width: 50%;
        padding-top: 30px;
        h4 {
            padding: 40px 0 20px 0;
        }
        h2 {
            font-size: 26px;
        }
        select {
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
        }
        input {
            width: 50px;
            height: 47px;
            padding-left: 10px;
            font-size: 16px;
            margin-right: 10px;
            &:focus {
                outline: none;
            }
        }
        span {
            line-height: 25px;
        }
    }
    button {
        background-color: $teal;
        color: $white;
    }
    
}

.smallImageGroup {
    display: flex;
    justify-content: space-between;
}

.smallImgCol {
    flex-basis: 24%;
    cursor: pointer;
}