// Site fonts
$body: 'League Spartan', sans-serif;

// Site colours
$black: #222;
$green: #465b52;
$white: #E3E6F3;
$teal: #088178;
$lightGreen: #cce7d0;
$lightPink: #fddde4;
$greenOne: #cdebbc;
$lightBlue: #d1e8f2;
$blue: #cdd4f8;
$pink: #f6dbf6;
$lightOrange: #fff2e5;
$gray: #606063;
$greenish: #e8f6ea;